.vscode/**
.agents/**
.codex/**
out/**
node_modules/**
src/**
overlay/**
nix/**
dev/**
screenshots/**
.gitignore
.yarnrc
flake.nix
flake.lock
bun.lock
bun.lockb
*.sh
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
